@import url("https://use.typekit.net/pxt6unq.css");

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Global styles */

:root {
  --black:#292929;
  --white: #FCFCFC;
  --pink: pink;
  --primarytype: calluna, serif;
  --accenttype: poppins, sans-serif;
}

 * {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: none;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
} 

body {
  background: var(--white);
  max-width: 1600px;
  width: 80vw;
  margin: 0 auto;
  font-family: var(--primarytype);
  font-size: 16px;
  color: var(--black);
  line-height: 1.5;
  overflow-x: hidden;
  transition: all 0.2s ease;
}

section {
  margin-bottom: 80px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
}

h1, h3 {
  font-size: 32px;
  line-height: 1.2;
}

h2 {
  font-size: 48px;
  line-height: 1.2;
  max-width: 920px;
  width: 90vw;
}

h4 {
  font-size: 24px;
  line-height: 1.2;
}

h5 {
  font-family: var(--accenttype);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

h6 {
  font-family: var(--accenttype);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  max-width: 420px;
  width: 90vw;
}

p {
  max-width: 420px;
  width: 90vw;
}

ul {
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: poppins, sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--black);
  border-bottom: solid 2px rgba(255, 255, 255, 0);
  margin-bottom: 8px;
}

a:hover :not(.image-holder-link) {
  border-bottom: solid 2px var(--black);
}

img {
  max-width: 400px;
  width: 90vw;
  margin-bottom: 24px;
}

.image-holder {
  max-width: 470px;
  width: 90vw;
  height: 300px;
}

.image-holder-link {
  display: block;
  max-width: 470px;
  width: 90vw;
  height: 300px;
  z-index: 2;
}


/* Dark theme styles */

.dark-theme {
  background-color: var(--black);
  color: var(--white)
}

.dark-theme .main-nav {
  background: var(--black);
}

.dark-theme h2, .dark-theme a {
  color: var(--white);
}

.dark-theme a:hover {
  border-bottom: solid 2px var(--white);
}

.dark-theme .progress-bar {
  background: var(--white);
}

.dark-theme footer {
  border-top: solid 2px var(--white);
}

.dark-theme section.experience div.container div.inner-container:nth-child(2) {
  border-left: solid 2px var(--white);
  padding-left: 40px;
}

/* Nav styles */

.main-nav {
  width: 100%;
  padding: 16px 0;
  background: var(--white);
  z-index: 2;
  transition: all 0.2s ease;
}

.main-nav, .footer-nav {
  display: flex;
  max-width: 1600px;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  position: fixed;
  top: 30px;
  right: 5%;
  background-image: url('../images/moon.svg');
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  border: none;
  background-color: #fff0;
  cursor: pointer;
  transition: all 0.2s ease;
}

.sun-icon {
  background-image: url('../images/sun.svg');
}

.main-nav-links ul, .footer-nav ul {
  display: flex;
}

.main-nav-links li, .footer-nav li {
  padding-right: 8px;
}

/* Footer styles */

footer {
  border-top: solid 2px var(--black);
}

.footer-nav {
  justify-content: flex-end;
  margin: 40px auto;
}

/* Individual section styles */

.intro {
  display: flex;
  justify-content: flex-start;
  margin-top: 80px;
  margin-bottom: 260px;
}

.bio-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.bio-info {
  max-width: 520px;
  width: 90vw;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    width: 90vw;
}

.icon {
  width: 80px;
  margin-right: 10px;
}

.icon p {
  font-family: var(--accenttype);
  font-size: 12px;

}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container div {
  max-width: 450px;
  width: 100vw;
}

div.progress-bar{
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 6px;
  background-color: var(--black);
  z-index: 3;
  transition: background-color 0.5s ease;
}

section.projects a {
  margin-right: 12px;
}

section.projects div.container div{
  margin-right: 20px;
}

#moodible {
  background-image: url('../images/moodible.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#pawfect-pal {
  background-image: url('../images/pawfectpal.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#choose-your-hero {
  background-image: url('../images/chooseyourhero.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#ms-pacman {
  background-image: url('../images/mspacman.png');
  background-size: contain;
  background-repeat: no-repeat;
}


section.experience div.container div.inner-container:nth-child(2) {
  border-left: solid 2px var(--black);
  padding-left: 40px;
}

.devicon-mocha-plain{
  display: inline-block;
  width: 100px;
}

/* Media Queries */

@media screen and (max-width: 810px) {
  body {
    font-size: 18px;
  }

  .toggle {
    right: 3%;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 15px;
  }

  section {
    margin-bottom: 80px;
  }

  .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    justify-content: space-around;
  }

  .bio-info p {
    max-width: 500px;
  }

  .skills {
    max-width: 540px;
    margin-top: 24px;
  }

  .toggle {
    top: 34px;
    right: 50%;
    transform: translateX(50%);
  }

  section.projects:nth-child(5) > div:nth-child(2) > div:nth-child(2) > img:nth-child(1),
  section.projects:nth-child(6) > div:nth-child(1) > div:nth-child(2) > img:nth-child(1) {
    margin-top: 30px;
}


  section.contact div.container div div.container {
    justify-content: flex-start;
  }

  section.experience div.container div.inner-container:nth-child(2),
  section.experience div.container div.inner-container:nth-child(2),
  .dark-theme section.experience div.container div.inner-container:nth-child(2),
  .dark-theme section.experience div.container div.inner-container:nth-child(2){
    border-left: none;
    padding-left: 0;
  }
}

@media screen and (max-width: 400px) {

  body {
    width: 90vw;
    margin-top: 80px;
  }

  .main-nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
  }

  h1 {
    font-size: 20px;
    padding-right: 40px;
  }

  h2  {
    font-size: 28px;
  }

  .toggle {
    top: 20px;
    right: 51%;
    transform: translateX(60%);
  }

  section, .intro {
    margin: 40px auto;
  }

  .container div {
    width: 90vw;
  }

  .footer-nav {
    justify-content: flex-start;
  }

  .footer-nav ul {
    display: block;
    list-style-type: none;
    
  }

  .footer-nav li {
    padding-bottom: 16px;
  }

}
