@import url("https://use.typekit.net/pxt6unq.css");

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Global styles */

:root {
  --black:#292929;
  --white: #FCFCFC;
  --pink: pink;
  --primarytype: calluna, serif;
  --accenttype: poppins, sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  background: var(--white);
  max-width: 1600px;
  width: 80vw;
  margin: 0 auto;
  font-family: var(--primarytype);
  font-size: 16px;
  color: var(--black);
  line-height: 1.5;
  overflow-x: hidden;
  transition: all 0.2s ease;
}

section {
  margin-bottom: 200px;
}

h1, h3 {
  font-size: 32px;
  line-height: 1.2;
}

h2 {
  font-size: 48px;
  line-height: 1.2;
  max-width: 920px;
  width: 100vw;
}

h4 {
  font-size: 24px;
  line-height: 1.2;
  margin: 0;
}

h5 {
  font-family: var(--accenttype);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

h6 {
  font-family: var(--accenttype);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  max-width: 420px;
}

p {
  max-width: 420px;
  width: 100vw;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: poppins, sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--black);
  border-bottom: solid 2px rgba(255, 255, 255, 0);
  margin-bottom: 8px;
}

a:hover {
  border-bottom: solid 2px var(--black);
}

img {
  max-width: 470px;
  width: 100vw;
  margin-bottom: 24px;
}

/* Dark theme styles */

.dark-theme {
  background-color: var(--black);
  color: var(--white)
}

.dark-theme h2, .dark-theme a {
  color: var(--white);
}

.dark-theme a:hover {
  border-bottom: solid 2px var(--white);
}

.dark-theme .progress-bar {
  background: var(--white);
}

.dark-theme footer {
  border-top: solid 2px var(--white);
}

/* Nav styles */

.main-nav {
  width: 100%;
  padding: 16px;
  z-index: 1;
}

.main-nav, .footer-nav {
  display: flex;
  max-width: 1600px;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  position: fixed;
  top: 40px;
  right: 5%;
  background-image: url('../images/moon.svg');
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  border: none;
  background-color: #fff0;
  cursor: pointer;
}

.sun-icon {
  background-image: url('../images/sun.svg');
}

.main-nav-links ul, .footer-nav ul {
  display: flex;
}

.main-nav-links li, .footer-nav li {
  padding-right: 16px;
}

/* Footer styles */

footer {
  border-top: solid 2px var(--black);
}

.footer-nav {
  justify-content: flex-end;
  margin: 40px auto;
}

/* Individual section styles */

.intro {
  display: flex;
  justify-content: flex-start;
  margin-top: 80px;
  margin-bottom: 260px;
}

.bio-skills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.bio-info {
  max-width: 600px;
  width: 100vw;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    width: 100vw;
}

.icon {
  width: 80px;
  margin-right: 10px;
}

.icon p {
  font-family: var(--accenttype);
  font-size: 12px;
  text-transform: uppercase;

}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container div {
  max-width: 500px;
  width: 100vw;
}

div.progress-bar{
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 6px;
  background-color: var(--black);
  z-index: 1;
  transition: background-color 0.5s ease;
}

section.experience div.container div.inner-container:nth-child(2) {
  border-left: solid 2px var(--black);
  padding-left: 40px;
}

.devicon-mocha-plain{
  display: inline-block;
  width: 100px;
}

/* Media Queries */

@media screen and (max-width: 600px) {
  

  section.experience div.container div.inner-container:nth-child(2) {
    border-left: none;
    padding-left: 0;
  }
}
