@import url("https://use.typekit.net/pxt6unq.css");

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Global styles */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  max-width: 1600px;
  width: 90vw;
  margin: 0 auto;
  font-family: calluna, serif;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
}

section {
  margin-bottom: 200px;
}

h1, h3 {
  font-size: 32px;
  line-height: 1.2;
}

h2 {
  font-size: 48px;
  line-height: 1.2;
  max-width: 920px;
  width: 100vw;
}

h4 {
  font-size: 24px;
  line-height: 1.2;
  margin: 0;
}

h5 {
  font-family: poppins, sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

h6 {
  font-family: poppins, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
}

p {
  max-width: 500px;
  width: 100vw;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: poppins, sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

/* Nav styles */

.main-nav, .footer-nav {
  display: flex;
  width: 90vw;
  max-width: 1600px;
  justify-content: space-between;
  align-items: center;
}

.main-nav-links ul, .footer-nav ul {
  display: flex;
}

.main-nav-links li, .footer-nav li {
  padding-right: 16px;
}

/* Footer styles */

footer {
  border-top: solid 1px black;
}

.footer-nav {
  justify-content: flex-end;
  margin: 40px auto;
}

/* Individual section styles */

.intro {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 260px;
}

.bio-skills {
  display: flex;
  flex-wrap: wrap;
}

.bio-info {
  max-width: 600px;
  width: 100vw;
}

.bio-info h3 {
  max-width: 640px;
  width: 100vw;
}

.skills {
    display: grid;
    width: 500px;
    grid-template-columns: repeat(4, 20%);
    column-gap: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container div {
  max-width: 500px;
  width: 100vw;
}


/* if you want to change the original color
.devicon-devicon-plain path {
  fill: #f646cd;
} */